---
layout: main
title: Scheduled tasks
permalink: /tasks/
---

<main class="home" role="main">
  <h1 class="title-category">/Scheduled tasks</h1>

  <section id="grid" class="row flex-grid">
    {% assign sorted_tasks = site.posts | where: "category", "scheduled tasks" | sort: "date" | reverse %}
    {% for task in sorted_tasks %}
      <article class="box-item">
        <div class="box-body">
          <a class="cover" href="{{ task.url }}">
            {% include loader.html %}
            {% if task.image %}
              <img src="/assets/img/placeholder.png" width="100%" data-url="{{ task.image }}" class="preload">
              <noscript><img src="{{ task.image }}" width="100%"></noscript>
            {% else %}
              <img src="/assets/img/placeholder.png" width="100%" data-url="/assets/img/off.jpg" class="preload">
              <noscript><img src="/assets/img/off.jpg" width="100%"></noscript>
            {% endif %}
            {% include read-icon.html %}
          </a>
          <div class="box-info">
            <time datetime="{{ task.date | date_to_xmlschema }}" class="date">
              {% include date.html date=task.date %}
            </time>
            <a class="post-link" href="{{ task.url }}">
              <h2 class="post-title">{{ task.title }}</h2>
            </a>
            <a class="post-link" href="{{ task.url }}">
              <p class="description">{{ task.description }}</p>
            </a>
            <div class="tags">
              {% for tag in task.tags %}
                {% if tag != "" %}
                  <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">#{{ tag }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </article>
    {% endfor %}
  </section>
</main>
